.Skills3D {
    position: fixed; /* Stay in place */
      z-index: 400; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left:0;
      top:0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }


    .Skills3D span{
      color: orange;
    }


    .Skills3D button{
      background-color: orange;
      padding: 5px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
        
    
    
    .Skills3D-Content {
      text-align: center;
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        position: fixed;
        top:10%;
        left:5%;
        right: 5%;
        border: 4px solid orange;
        border-radius: 20px;
        
      }


      .SkillsCanvas{
        background-color: black;
      }


      @media only screen and (max-width : 720px){
        .Skills3D-Content{
          width: 80%;
          font-size: 75%;
        }
      }